.App {
}

.Header {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;

  background-image: url(/404s.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.HeaderText {
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 15px;
  font-style: oblique;
  background-color: tomato;
  color: mintcream;
  opacity: 55%;
}
